@model NHTBrandShop.Areas.Admin.Models.BrandActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span> Delete - Brand</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="BrandID" value="@Model.BrandID" />
            </form>
            <div class="alert alert-warning" role="alert">
                Are you sure to delete this record?
            </div>
            <div class="errorDiv">

            </div>
        </div>
        <div class="modal-footer">
            <button id="deleteButton" type="button" class="btn btn-danger"><i class="fa fa-trash fa-xs">   Delete</i></button>
            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa fa-close fa-xs">   Close</i></button>
        </div>
    </div>
}


<script>
    $("#deleteButton").click(function() {
        $.ajax({
            url: '@Url.Action("Delete", "Brand")',
            type: 'post',
            data: $("#actionForm").serialize(),
        })
        .done(function (response) {
            if (response.Success)
            {
                location.reload();
            }
            else
            {
                $(".errorDiv").html(response.Message);
            }
        });
    });
</script>