@model NHTBrandShop.Areas.Admin.Models.RoleActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.RoleID > 0)
                {
                <span> Edit Role</span>
                }
                else
                {
                <span> Create Role</span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="RoleID" value="@Model.RoleID" />
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="RoleName" placeholder="Enter Role Name" value="@Model.RoleName" required>
                </div>
            </form>

            <div class="errorDiv">

            </div>

        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-primary"><i class="fa fa-save fa-xs">   Save</i></button>
            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa fa-close fa-xs">   Close</i></button>
        </div>
    </div>

}


<script>
    $("#actionButton").click(function() {
        $.ajax({
            url: '@Url.Action("AddAndEdit", "Role")',
            type: 'post',
            data: $("#actionForm").serialize(),
        })
        .done(function (response) {
            if (response.Success)
            {
                location.reload();
            }
            else
            {
                $(".errorDiv").html(response.Message);
            }
        });
    });
</script>


